body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 241, 234);
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: rgb(192, 240, 223);
    text-align: center;
}

li {
    background-color: rgb(128, 128, 128);
    padding: 10px;
    border-top: 1px solid white;
    padding-left: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

h3{
    color: rgb(220,106,94);
    font-weight: 700;
}

img#logo {
    width: 320px;
}

section, footer{
    padding: 20px;
}

footer{
    background-color: rgb(128,128,128);
    color: white;

}
footer h3{
    color: white;
}