body {
    font-family:"Arial", "sans-serif";
}

nav { background-color: black;
    padding: 10px;

}

nav a {color: white;
font-weight:bold;
text-decoration: none;
border-right: 2px solid white;
padding-right: 5px;
    padding-left: 5px;
}
div.wrapper {
    width: 800px;
    margin: auto;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    float: left;

}
td{
    padding: 10px;
    border: 1px solid black;

}
td.groen{background-color: green}
td.blauw{background-color: blue}

article {
    float: left;
    width: 50%;
}
